


.container{
    border: 2px ;
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    background-color:cadetblue;
    
}

.heading{
    text-align: center;
    color: white;
}

.counter{

    border: 1px solid white;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    color: white;
    margin-left: 75px;
    padding: 8px;
}

.btns button{
    
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 50px;
    border-radius: 12px;
}

.increment{
    background-color: green;
}

.decrement{
    background-color: red;
}